In [2]:
import pandas as pd
import numpy as np


df = pd.read_csv('/content/retail_sales_dataset.csv')

In [3]:
#info sobre el dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    1000 non-null   int64
 1   Date              1000 non-null   object
 2   Customer ID       1000 non-null   object
 3   Gender            1000 non-null   object
 4   Age               1000 non-null   int64
 5   Product Category  1000 non-null   object
 6   Quantity          1000 non-null   int64
 7   Price per Unit    1000 non-null   int64
 8   Total Amount      1000 non-null   int64
dtypes: int64(5), object(4)
memory usage: 70.4+ KB

In [4]:
#tipos de datos de las columnas
df.dtypes

Transaction ID       int64
Date                object
Customer ID         object
Gender              object
Age                  int64
Product Category    object
Quantity             int64
Price per Unit       int64
Total Amount         int64
dtype: object

In [5]:
#descripcion del df, incluyendo info como emdia, mediana. etc
df.describe()

       Transaction ID         Age     Quantity  Price per Unit  Total Amount
count     1000.000000  1000.00000  1000.000000     1000.000000   1000.000000
mean       500.500000    41.39200     2.514000      179.890000    456.000000
std        288.819436    13.68143     1.132734      189.681356    559.997632
min          1.000000    18.00000     1.000000       25.000000     25.000000
25%        250.750000    29.00000     1.000000       30.000000     60.000000
50%        500.500000    42.00000     3.000000       50.000000    135.000000
75%        750.250000    53.00000     4.000000      300.000000    900.000000
max       1000.000000    64.00000     4.000000      500.000000   2000.000000

In [6]:
#suma valores q se repiten
df.value_counts()

Transaction ID  Date        Customer ID  Gender  Age  Product Category  Quantity  Price per Unit  Total Amount
1               2023-11-24  CUST001      Male    34   Beauty            3         50              150             1
672             2023-08-01  CUST672      Female  34   Beauty            2         50              100             1
659             2023-03-19  CUST659      Female  39   Electronics       1         30              30              1
660             2023-04-29  CUST660      Female  38   Beauty            2         500             1000            1
661             2023-07-16  CUST661      Female  44   Clothing          4         25              100             1
                                                                                                                 ..
339             2023-03-03  CUST339      Female  22   Electronics       2         25              50              1
340             2023-10-19  CUST340      Female  36   Clothing          4         300             1200            1
341             2023-05-07  CUST341      Male    31   Clothing          4         50              200             1
342             2023-10-24  CUST342      Female  43   Clothing          4         500             2000            1
1000            2023-04-12  CUST1000     Male    47   Electronics       4         30              120             1
Name: count, Length: 1000, dtype: int64

In [ ]:
#valores unicos
print(df['Product Category'].unique())

['Beauty' 'Clothing' 'Electronics']

In [8]:
#valores numericos unicos
print(df['Product Category'].nunique())

3

In [7]:
#mostrar datos faltantes
print(df.isnull().sum())

Transaction ID      0
Date                0
Customer ID         0
Gender              0
Age                 0
Product Category    0
Quantity            0
Price per Unit      0
Total Amount        0
dtype: int64

In [10]:
#mostrar datos faltantes x columna

print(df['Product Category'].isnull().sum())

0

In [11]:
#se calculan las ventas totales x producto
total_sales_by_product = df.groupby('Product Category')['Total Amount'].sum()
print("Total de ventas por producto:")
print(total_sales_by_product)

Total de ventas por producto:
Product Category
Beauty         143515
Clothing       155580
Electronics    156905
Name: Total Amount, dtype: int64

In [12]:
#calcular ventas por fecha
#se normaliza fecha
df['Date'] = pd.to_datetime(df['Date'])
daily_sales_by_product = df.groupby([df['Date'].dt.date, 'Product Category'])['Total Amount'].mean()
print("\nVentas diarias por producto:")
print(daily_sales_by_product)

Ventas diarias por producto:
Date        Product Category
2023-01-01  Beauty              1500.0
            Clothing            1050.0
2023-01-02  Beauty                25.0
            Clothing             825.0
            Electronics           90.0
                                 ...
2023-12-29  Beauty              1100.0
            Electronics          100.0
2023-12-31  Electronics           50.0
2024-01-01  Beauty              1500.0
            Electronics           30.0
Name: Total Amount, Length: 655, dtype: float64

In [13]:
#calcular el maximo y minimo de ventas por producto
max_sales_product = total_sales_by_product.idxmax(), total_sales_by_product.max()
print("\nProducto con más ventas:", max_sales_product)
min_sales_product = total_sales_by_product.idxmin(), total_sales_by_product.min()
print("\nProducto con menos ventas:", min_sales_product)

Producto con más ventas: ('Electronics', 156905)

Producto con menos ventas: ('Beauty', 143515)

In [15]:
#filtrado de filas por nombre de producto o ropa
filtered_product_sales = df[df['Product Category'] == 'Electronics']
print("\nFiltrado de ventas de 'Electronics':")
print(filtered_product_sales.head())

filtered_store_sales = df[df['Product Category'] == 'Clothing']
print("\nFiltrado de ventas de 'Clothing':")
print(filtered_store_sales.head())

Filtrado de ventas de 'Electronics':
    Transaction ID       Date Customer ID  Gender  Age Product Category  \
2                3 2023-01-13     CUST003    Male   50      Electronics
7                8 2023-02-22     CUST008    Male   30      Electronics
8                9 2023-12-13     CUST009    Male   63      Electronics
12              13 2023-08-05     CUST013    Male   22      Electronics
14              15 2023-01-16     CUST015  Female   42      Electronics

    Quantity  Price per Unit  Total Amount
2          1              30            30
7          4              25           100
8          2             300           600
12         3             500          1500
14         4             500          2000

Filtrado de ventas de 'Clothing':
    Transaction ID       Date Customer ID  Gender  Age Product Category  \
1                2 2023-02-27     CUST002  Female   26         Clothing
3                4 2023-05-21     CUST004    Male   37         Clothing
6                7 2023-03-13     CUST007    Male   46         Clothing
9               10 2023-10-07     CUST010  Female   52         Clothing
10              11 2023-02-14     CUST011    Male   23         Clothing

    Quantity  Price per Unit  Total Amount
1          2             500          1000
3          1             500           500
6          2              25            50
9          4              50           200
10         2              50           100

In [16]:
#Se calcula el total de ventas por cantidad
total_sales_mult_quantity = df['Total Amount'] * df['Quantity']
print("\nMultiplicación del total de ventas por cantidad (primeras filas):")
print(total_sales_mult_quantity.head())

Multiplicación del total de ventas por cantidad (primeras filas):
0     450
1    2000
2      30
3     500
4     200
dtype: int64

In [17]:
# Suma de las cantidades vendidas
sum_quantities = df['Quantity'].sum()
# Diferencia de precios entre productos (Beauty y Clothing)
price_diff = df[df['Product Category'] == 'Beauty']['Price per Unit'].mean() - \
             df[df['Product Category'] == 'Clothing']['Price per Unit'].mean()
# Multiplicación del total de ventas por la cantidad vendida
total_sales_mult_quantity = df['Total Amount'] * df['Quantity']
# División del precio por unidad entre la cantidad
price_per_quantity = df['Price per Unit'] / df['Quantity']
print(f"\nSuma de cantidades vendidas: {sum_quantities}")
print(f"Diferencia promedio de precio entre 'Beauty' y 'Clothing': {price_diff}")
print("\nMultiplicación del total de ventas por cantidad (primeras filas):")
print(total_sales_mult_quantity.head())
print("\nDivisión del precio por cantidad (primeras filas):")
print(price_per_quantity.head())

Suma de cantidades vendidas: 2514
Diferencia promedio de precio entre 'Beauty' y 'Clothing': 9.767625305084607

Multiplicación del total de ventas por cantidad (primeras filas):
0     450
1    2000
2      30
3     500
4     200
dtype: int64

División del precio por cantidad (primeras filas):
0     16.666667
1    250.000000
2     30.000000
3    500.000000
4     25.000000
dtype: float64

In [18]:

df.value_counts('Product Category')

#filtrado por valores numericos
ventas_mayores_50 = df[df['Total Amount'] > 50]
print(ventas_mayores_50.head())

ventas_menores_05 = df[df['Total Amount'] < 0.5]
print(ventas_menores_05)

   Transaction ID       Date Customer ID  Gender  Age Product Category  \
0               1 2023-11-24     CUST001    Male   34           Beauty
1               2 2023-02-27     CUST002  Female   26         Clothing
3               4 2023-05-21     CUST004    Male   37         Clothing
4               5 2023-05-06     CUST005    Male   30           Beauty
7               8 2023-02-22     CUST008    Male   30      Electronics

   Quantity  Price per Unit  Total Amount
0         3              50           150
1         2             500          1000
3         1             500           500
4         2              50           100
7         4              25           100
Empty DataFrame
Columns: [Transaction ID, Date, Customer ID, Gender, Age, Product Category, Quantity, Price per Unit, Total Amount]
Index: []